# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment files
.env
.venv/
env/
venv/

# macOS
.DS_Store

# Log files
*.log

# Data & cache
*.sqlite
*.db
*.h5
*.pkl
*.cache/
*.json

# System files
Thumbs.db
